html{
  width:100%;
  height:100%
}
*{
    margin:0;
    padding:0;
    overflow: hidden;
}
.bg-center{
  z-index: -2;
  position:absolute; 
  top:50%; 
  left:50%; 
  transform:translate(-50%, -50%); 
  height:100%;
  width: clamp(800px, 70%, 100%);
  height:clamp(800px, 100%, 100%);
}
.bg-right{
right:0px;
}
.bg-left{
left:0px;
}
.bg-side{
  z-index: -3;
  position:absolute;
  height:100%;
  width:clamp(0px, 25%, 25%);
  top:0px;
  bottom:0px;
}
.plank{
  position:absolute;
  top:66%; 
  transform:translate(0%, -66%); 
  height:223px;
  left:0px;
  width: clamp(950px, 75%, 75%);
}
.main{
  z-index: 2;
  position: absolute;
  padding:3vw;
  display:grid;
  gap: min(2rem, 5vw);
  top:66%; 
  left:33%; 
  transform:translate(-33%, -66%); 
  grid-template-columns: 1fr 1fr;
  min-width:800px;
  white-space: nowrap;
}

.headers{
  margin-top: 210px;
  font-family: arial;
  color: #2d283e;
  font-size: 22px;
  padding-top: 20px;
  
}
h1 {
    font-size: 56px;
}
.navbar {
    position: absolute;
    display: grid;
    right: 0px;
    top: 5px;
    font-size: 35px;
    font-family: arial;
    color: #2d283e;
  }
  .navbar a {
    text-decoration: none;
    color: #2d283e;
  }
  .nav-item {
    background-image: url(images/plank-small.png);
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    &:hover{ transform:translateX(10px);
    }
    transition: transform 200ms ease-in-out; 
}
  .nav-text {
    padding-top: 5px;
    padding-left: 15px;
  }
  .plank-alt{
    position:absolute;
    top:15%; 
    transform:translate(0%, -20%); 
    height:213px;
    left:0px;
    width: clamp(px, 50%, 50%);
    max-height:20% 500px;
  }
  .h1-alt{
    position:absolute;
    top:18%;
    left: 20%;
    font-family: arial;
    color: #2d283e;
    font-size: 64px;  
  }
.h2-alt-container{
  background-image: url(images/plank-large-alt.png);
    display:flex;
    position:absolute;
    bottom:10%; 
    right:0px;
    width: clamp(90%, 90%, 90%);
    height:clamp(263.67px, 50%, 50%);
  }  
 
.footer-container {
  display:grid;
  position:absolute;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . .";
  left: 50%;
  gap:10px;
  transform: translateX(-50%);
  bottom:1em;
  align-items: end;
  height:100px;
}   
.footer-item{
  &:hover{ transform:translateY(-10px);
    }
    transition: transform 400ms ease-in-out; 
    
}